.SplashScreen {
  position: fixed;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  justify-content: space-between;
  opacity: 0.5;
  transition: opacity 0.5s ease;
}

.navcontainer {
  overflow: hidden;
  position: relative;
  display: flex;
  list-style: none;
  padding-top: 38px;
  margin-left: 5%;
  margin-right: 5.5%;
}
.rectangleone {
  width: 250px;
  height: 40px;
  margin-top: 6px;
  overflow: hidden;
}
.rectangletwo {
  margin-top: 6px;
  width: 700px;
  display: flex;
  margin-left: 650px;
  height: 22px;
  overflow: hidden;
}

/* for body */

.maincontainer {
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  list-style: none;
  margin-top: 70px;
  margin-left: 5%;
  margin-right: 5%;
}
.parentcontainer {
  display: flex;
}

.maincontainer {
  flex: 1;
}


.rectangleone, .rectangletwo, .heading, .content, .content1, .content2, .maincontent, .maincontent3, .maincontent4, .maincontent5, .maincontent6, .imgcontainer, .btn{
  animation: loading 1s linear infinite alternate;
  border-radius: 20px;
}

.content, .content1, .content2, .maincontent, .maincontent3{
  height: 22px;
}


.heading {
  width: 434px;
  height: 49px;
}

.content {
  width: 555px;
  margin-top: 30px;
}

.content1 {
  margin-top: 10px;
  width: 517px;
}

.content2 {
  margin-top: 10px;
  width: 574px;
}

.maincontent {
  margin-top: 10px;
  width: 521px;
}

.maincontent3 {
  margin-top: 10px;
  width: 406px;
}

.btn {
  width: 206px;
  height: 71px;
  margin-top: 60px;
  border-radius: 35px;
  margin-left: 10px;
}

.imgcontainer {
  height: 320px;
  width: 320px;
  margin-right: 100px;
  border-radius: 50%;
}

.imgcontainer {
  flex: 0 0 auto;
  margin-right: 9%; 
  margin-top: 80px;
}


@keyframes loading {
  0% {
    background-color: rgb(110, 110, 110);
  }
  100% {
    background-color: rgb(224, 224, 224);
  }
}
@media screen and (max-width: 830px) {

  .navcontainer {
    overflow: hidden;
    position: relative;
    list-style: none;
    padding-top: 4%;
    margin-left: 5%;
    margin-right: 5.5%;
    opacity: 0.6;
  }
  
  .rectangleone {
    width: 120px;
    height: 25px;
    margin-top: 7px;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .rectangletwo {
    display: none;
  }
  
  /* for body */

  .imgcontainer {
    opacity: 0.6;
    position:absolute;
    height: 140px;
    width: 140px;
    margin-top: 40px;
    margin-left: 32%;
    border-radius: 50%;
  }
  
  .maincontainer {
    overflow: hidden;
    position:relative;
    margin-top: 210px;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .heading {
    width: 250px;
    height: 38px;
  }

  .content1, .content2, .maincontent, .maincontent3, .maincontent4, .maincontent5, .maincontent6{
    height: 22px;
    margin-top: 10px;
  }
  
  .content {
    width: 270px;
    height: 22px;
    margin-top: 30px;
  }
  
  .content1 {
    width: 285px;
    height: 22px;
  }
  
  .content2 {
    width: 300px;
    height: 22px;
  }
  
  .maincontent {
    width: 320px;
    height: 22px;
  }
  
  .maincontent3 {
    width: 240px;
    height: 22px;
  }
  
.maincontent4 {
  width: 300px;
  height: 22px;
}

.maincontent5{
  width: 300px;
  height: 22px;
}

.maincontent6{
  width: 280px;
  height: 22px;
}
  .btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 160px;
    height: 45px;
    margin-top: 60px;
    border-radius: 35px;
  }
  
}