@import "../../vars.css";

.container {
  position: relative;
  background-color: rgba(12, 12, 12, 0.6);
  border-radius: 15px;
  padding: 5%;
  margin-top: 7%;
  
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;

  transform: translateY(100%);
  transition: transform 1s ease; /* Adjust the transition duration and easing function */
}
.aboutItemText {
  font-size: 16px;
}

.aboutItemText h3 {
  font-size: 26px;
  padding: 10px;
}

.aboutItemText p {
  padding: 10px; /* Adjust this value to your desired padding */
}


.textScrolling {
  transform: translateY(0);
}


.title {
  color: var(--color-text);
  font-size: 50px;
  font-weight: 700;
  padding-left: 5%;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
}



.contentBottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 50px;
}

.aboutImage {
  width: 35%;
}
.aboutImageBottom {
  width: 40%;
  padding: 2%;
}

.aboutItems {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-left: 5%;
  padding-top: 5%;
}
.aboutItemsLeft {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-right: 8%;
}


.aboutItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  list-style: none;
  padding: 15px;
  background-image: linear-gradient(
    90deg,
    rgba(165, 215, 232, 0.42) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 0.4s;
}

.aboutItem:hover {
  background-size: 100% 100%;
}


@media screen and (max-width: 830px) {
  .container {
    background-color: rgba(12, 12, 12, 0.6);
    border-radius: 25px;
    padding: 10px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
    padding-bottom: 15%;
    transition: transform 1s ease;
  }
  .aboutImage {
    display: none;
  }
  .aboutImageBottom {
    display: none;
  }

  .contentBottom {
    padding: 0% ;
    align-items: center;
    justify-content: center;
    padding-left: 8%;
    width: 110%;

  }  

  .aboutItemText h3 {
    font-size: 18px;
    padding: 5px;
  }
  
  .aboutItemText p {
    padding: 5px; /* Adjust this value to your desired padding */
    font-size: 14px !important;
  }

  .aboutItems {
    color: var(--color-text);
    flex-direction: column;
  }
  
  .aboutItem {
    padding-left: 0;
    padding-right: 0;
    padding: 0%;
  }
  .aboutItemText {
    padding: 0;
  }
  .title {
    font-size: 35px;
    margin-left: 27%;
    margin-top: 7%;
    margin-bottom: 5%;
    text-decoration-line: underline;
  }
}
.androidDev {
  background-color: #a5d7e8;
  margin-left: 100%;
}