.main {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: auto;
    width: 100%;
}

.heading {
    margin-left: 10%;
    margin-right: 10%;
}

.heading h1 {
    color: var(--color-text);
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}

.heading p {
    font-size: 20px;
    color: gray;
    text-align: left;
    font-weight: 700;
    margin-top: 20px;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}

.xpOut {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    height: inherit;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.xpSkelleton {
    align-items: center;
    height: auto;
    width: 80%;
    margin-bottom: 20px;
    margin-top: 40px;
}

.companyDetails {
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    margin-left: 15%;
    width: 70%;
    padding: 20px;
    border: 2px solid #40407e;
    border-radius: 24px;
    transition: transform 0.3s, box-shadow 0.3s; /* Add transition for smoother effect */
}

.companyDetails:hover {
    transform: scale(1.05); /* Zoom in a bit on hover */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); /* Add shadow on hover */
}

/* Rest of your CSS remains unchanged */


.companyDetails:hover .aboutText {
    animation: slideIn 0.3s ease-in-out forwards; /* Adding animation */
}

@keyframes slideIn {
    0% {
        max-height: 100px; /* Start from original max-height */
    }
    100% {
        max-height: 100%; }
}

.skils {
    margin-top: 20px;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    

}

.companyHead {
    display: flex;
    position: relative;
    width: 100%;
    color: var(--color-text);
}

.logo {
    margin-left: 20px;
    margin-top: 20px;
    width: 80px;
    height: 80px;
    background: #000000;
    border-radius: 18px;
}

.about {
    margin-left: 20px;
    margin-top: 25px;
    flex-grow: 1;
    display: grid;
    height: 8%;
}

.about h1 {
    font-size: 1.6rem;
}

.aboutText {
    margin-top: 20px;
    max-height: 100px;
    overflow: hidden;
}

.aboutText p {
    font-size: 1.3rem;
    color: rgb(156, 156, 156);
}

.aboutText p.skills {
    color: rgb(128, 128, 128);
    margin-top: 10px;
}

@media screen and (max-width: 830px) {
   
    .heading {
        margin-left: 5%;
        margin-right: 5%;
    }

    .heading h1 {

        color: var(--color-text);
        font-size: 22px;
        font-weight: 700;
        padding-left: 1%;
        text-transform: uppercase;
    }
    
    .heading p {
        font-size: 14px;
        color: gray;
    }
    .xpOut {
        transform: translate(-45%, 0%);
        width: 100%;
    }

    
.xpSkelleton {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 40px;
}

.companyDetails {
    margin-left: 0%;
    width: 90%;
    padding: 10px;
    box-shadow: #40407e 0px 0px 10px 0px;
}
@keyframes slideIn {
    0% {
        max-height: 100px;
    }
    100% {
        max-height: 100%; }
}


.logo {
    margin-left: 10px;
    margin-top: 10px;
    width: 60px;
    height: 60px;
}

.about {
    margin-left: 20px;
    margin-top: 12px;
    flex-grow: 1;
    display: grid;
    height: 6%;
}

.about h1 {
    font-size: 0.85rem;
}

.aboutText {
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    max-height: 100px;
    overflow: hidden; 
}

.aboutText p {
    font-size: 0.8rem;
    color: rgb(196, 196, 196);
}

.aboutText p.skills {
    color: rgb(128, 128, 128);
    margin-top: 5px;
}
.skils {
    font-size: 15px;
    margin-top: 3px;
}


}