

  
.custom-cursor {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 2px solid #818181;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
    transform: translate(-40%, -50%);
    box-shadow: #40407e 0px 0px 20px 1px;
}
  
  @media screen and (max-width: 1000px) {
    .custom-cursor {
      display: none;
    }
  }